header{
    #panel:hover  ~ #_submenu{
        
            display: block !important;
            visibility: visible !important;
        
    }
}

#_submenu{
    top: 4rem !important;
}
#_submenu:hover{
    display: block !important;
    visibility: visible !important;
}
.pb-full {
    padding-bottom: 100%;
  }
  
  /* hide search icon on search focus */
  .search-bar:focus + .fa-search{
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .post:hover .overlay {
      display: block;
    }
  }
  .aside_menu{
    @media screen and (max-width: 768px) {
        display: none !important;
    }
  }

  .registration_form{
    .item:nth-child(1){
      input,select{
        &[type="date"]{
          margin-top: 0px;
        }
        margin-top: 20px;
        padding: 10px;
        &.required{
          border: 1px solid #ff0000;
        }
      }
      
    }
    .item:nth-child(2){
      background-image: url(/src/images/register.png);
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      @media screen and (max-width: 768px) {
        display: none !important;
    }
    }
  }

  .user_list{
      ._user_list_container{
        width: 100% !important;
        table{
          width: 100% !important;
        }
    }
  }
  #form_container{
    ._step{
     
      &.hidden{
        display: none;
      }
    }
  }
  #dataTable{
    tbody{
      tr:nth-child(odd){
        background: white;
        td{
          font-weight: bold;
          padding: 1rem;
        }
      }
      tr:nth-child(even){
        background:#f9fafb;
        td{
          font-weight: bold;
          padding: 1rem;
        }
      }
    }
  }

  ._profile{
    max-width: 100%;
    width: 90%;  
    ._title{
      margin-bottom: 40px;
    }
    input{
      // border: none;
      border: 1px solid #eee;
      text-transform: uppercase;
      width: max-content;
      // padding:;
    }
    input[type="email"]{
      border: 1px solid #eee;
      text-transform: lowercase;
    }
    input[type="checkbox"]{
     width: 15px;
     margin-right: 10px;
    }
    .uppercase{
      text-transform: uppercase;
    }
    .lowercase{
      text-transform: lowercase;
    }
    ._info{
      padding: 5rem;
    }
    ._status{
      .mx-2{
        margin-left: 10px;
      }
    }
    ._active{
      border: 2px solid #a6e5bb;
      background: #dcfce7;
      color: #16a34a !important;
    }

  }
#usertable{
  @media screen and (max-width: 768px) {
    display: none !important;
}
}
#usertable_mobile{
  display: none;
  @media screen and (max-width: 768px) {
    display: block !important;
}
}

  